<section class="section">
  <div class="container">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          VIEW CONTACTS
        </p>
      </header>
      <div class="card-content">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>Contact name</th>
              <th>Contact number</th>
              <th>Contact email</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {{#each contacts}}
            <tr>
              <td>{{this.name}}</td>
              <td>{{this.number}}</td>
              <td>{{this.email}}</td>
              <td>
                <div class="buttons">
                  <a href="/user/update-contact/{{this._id}}" class="button is-info is-light">
                    <span class="icon">
                      <i class="fas fa-edit"></i>
                    </span>
                    <span>Edit</span>
                  </a>
                  <a href="/user/delete-contact/{{this._id}}" class="button is-danger is-light">
                    <span class="icon">
                      <i class="fas fa-trash"></i>
                    </span>
                    <span>Delete</span>
                  </a>
                </div>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <footer class="card-footer">
        <a href="/user/dashboard" class="card-footer-item">Go back</a>
      </footer>
    </div>
  </div>
</section>
